*, *:after, *:before {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  z-index: 1;
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 0); }

a {
  text-decoration: none; }

body, header, main, footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

section h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 3px solid #4985d0; }

.header {
  background-color: #f0f0f0; }
  .header__info {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0; }
  .header__logo {
    position: relative;
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
    justify-content: center; }
    .header__logo img {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center; }
  .header__buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header__button {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
    border: 0 none;
    background: none;
    cursor: pointer;
    padding-bottom: 2px; }
    .header__button:hover {
      padding-bottom: 0; }
    .header__button img {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 10px; }
  .header .button__call {
    color: #f93f44; }
    .header .button__call:hover {
      border-bottom: 2px solid #f93f44; }
  .header .button__mail {
    color: #4985d0; }
    .header .button__mail:hover {
      border-bottom: 2px solid #4985d0; }
  .header__time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
  .header__contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header__contacts a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      margin: 5px 0;
      padding-bottom: 2px; }
      .header__contacts a:hover {
        padding-bottom: 0; }
      .header__contacts a img {
        position: relative;
        display: flex;
        width: 25px;
        height: auto;
        margin-right: 7px;
        align-items: center;
        justify-content: center; }
  .header__tel {
    color: #f93f44; }
    .header__tel:hover {
      border-bottom: 2px solid #f93f44; }
  .header__mail {
    color: #4985d0; }
    .header__mail:hover {
      border-bottom: 2px solid #4985d0; }
  .header__menu {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #fdfdfd;
    border-bottom: 2px solid #e3e3e3;
    border-top: 2px solid #e8e8e8; }
  .header__nav {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 25px;
    margin: 0; }
  .header__point {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center; }
    .header__point a {
      text-transform: uppercase;
      font-weight: bold;
      color: #4985d0;
      width: 100%;
      padding: 10px 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__point a:hover {
        background: #f0f0f0; }
      .header__point a.act-m {
        background: #4985d0;
        color: #fdfdfd; }

.main__slider {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .main__slider .slick-dots li button:before {
    font-size: 12px;
    color: #4985d0; }
.main__slide {
  max-height: 650px; }
  .main__slide img {
    width: 100%; }
.main .slick-list {
  margin-bottom: 10px; }
.main__service {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 25px 0; }
.main__review {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 25px 0; }
.main__specs {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 25px 0; }
.main__works {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 25px 0; }

.service__wrap {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1600px;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap; }
.service__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin: 1% 2.5%;
  height: auto;
  cursor: pointer;
  border: 0 solid #4985d0;
  padding: 2.5% 1px;
  transition: border .2s, padding .2s; }
  .service__item:hover {
    padding: calc(2.5% - 1px) 0;
    border: 1px solid #4985d0;
    transition: border .2s, padding .2s; }
.service__img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  margin: auto; }
.service__desc {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin-top: 10px; }

.review__slider {
  margin-top: 25px;
  position: relative;
  display: flex;
  width: 95%;
  max-width: 1600px;
  align-items: center;
  justify-content: center; }
  .review__slider .slick-dots li button:before {
    font-size: 12px;
    color: #4985d0; }
.review__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  outline: none; }
  .review__slide img {
    width: 100%;
    height: auto; }

.specs__wrap {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1600px;
  align-items: center;
  justify-content: space-around; }
.specs__box {
  position: relative;
  display: flex;
  flex-direction: column; }
.specs__img {
  border-radius: 50%; }
.specs__name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0; }
.specs__exp {
  text-align: center; }

.works__slider {
  margin-top: 25px;
  position: relative;
  display: flex;
  width: 95%;
  max-width: 1600px;
  align-items: center;
  justify-content: center; }
  .works__slider .slick-dots li button:before {
    font-size: 12px;
    color: #4985d0; }
.works__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  outline: none; }
  .works__slide img {
    width: 100%;
    height: auto; }

.footer {
  background: #4985d0; }
  .footer__wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1600px;
    align-items: stretch; }
  .footer__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column; }
  .footer__logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto; }
  .footer__map {
    width: 50%;
    height: 400px; }
